<header>
  <div class='masthead'>
    <div id='logo'>
      <% logo = image_tag('candle_logo.png', :alt => 'Candlepower LED') %>
      <%= link_to logo, root_path %>
      <div id='login_controls'>
        <p>
          <!-- if signed in? link to current user -->
          <%= link_to 'Sign in', '#' %> | <%= link_to 'Register', '#' %>
        </p>
      </div>
    </div>

    <div class='navbar'>
      <div class='navbar-inner'>
        <div class='container'>
          <ul class='nav'>
            <li class="<%= 'active' if current_page?(root_path)%>"><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'About us', '#' %></li>
            <li><%= link_to 'Products', '#' %></li>
            <li class="<%= 'active' if current_page?(articles_path)%>"><%= link_to 'News', articles_path %></li>
            <li><%= link_to 'Contact us', '#' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>